<div class="pull-right">
	<pagination-controls (pageChange)="getPage( $event )"></pagination-controls>
</div>
<div class="clearfix"> </div>

<ul *ngIf="events && events.length > 0" class="feeds">
	<li *ngFor="let event of events | paginate: { itemsPerPage: per_page, currentPage: page, totalItems: totalItems }">
		<div class="col1">
			<div class="cont">
				<div class="cont-col1">
					<div class="label label-sm label-{{ event.colour }}">
						<i class="fa {{ event.icon }}"></i>
					</div>
				</div>
				<div class="cont-col2">
					<div class="desc" [innerHTML]="event.text"></div>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="date"> {{ event.getTimeAgo( ) }} </div>
		</div>
	</li>
</ul>

<div *ngIf="( !events || events.length == 0 ) && page == 1 && !loading" class="text-center"><i>There are no events</i></div>

<div *ngIf="!loading && ( !events || events.length == 0 )" class="text-center">No events have been recorded</div>
<div *ngIf="loading" class="text-center">Loading...</div>

<div class="pull-right">
	<pagination-controls (pageChange)="getPage( $event )"></pagination-controls>
</div>
<div class="clearfix"> </div>