<div class="table-responsive">
	<table class="table table-bordered table-striped" style="margin: 0 auto; width: 100%;">
		<tr>
			<th>Name</th><th>Description</th><th>Links</th>
		</tr>
		<tr>
			<td>
				Stahpbot Client
			</td>
			<td>
				This client will automatically update text files in a specified directory for the following: Latest Subscriber, Latest Follower, Latest Donation, Daily Top Donation, Monthly Top Donation, and Spotify Now Playing.
				<br />You will need to have downloaded and installed <strong><a href="https://www.microsoft.com/en-us/download/details.aspx?id=48130" target="_blank">this</a></strong> for the application to run.
				<br /><a href="http://i.imgur.com/Jfc5WMS.png" target="_blank">Screenshot 1</a> | <a href="http://i.imgur.com/Tagpnt7.png" target="_blank">Screenshot 2</a>
			</td>
			<td>
				<a href="//cdn.stahpbot.com/alerts/installer/StahpbotClient.zip" class="btn btn-sm btn-primary">Download Here</a>
			</td>
		</tr>
		<tr>
			<td>
				CLR Browser Plugin for OBS
			</td>
			<td>
				This installer will install the CLR Browser Plugin for Stahpbot alerts. CLR Browser allows you to embed the alerts into your stream without having to leave a window open and use Window Capture.
			</td>
			<td>
				<a href="//cdn.stahpbot.com/alerts/installer/CLRBrowserSetup-x86.exe" class="btn btn-sm btn-primary">32-bit OBS</a><br /><br />
				<a href="//cdn.stahpbot.com/alerts/installer/CLRBrowserSetup-x64.exe" class="btn btn-sm btn-primary">64-bit OBS</a>
			</td>
		</tr>
	</table>
</div>